// COLORS //

$sidebar-header-bg: #202020;
$sidebar-item-hover: #383838;
$body-bg: #181818;
$searchBar-bg: #121212;
$searchBar-placeholder: #888;
$searchBar-bt: #313131;
$filter-btn-bg: #373737;
$color-white: #fff;
$color-black: #000;
$color-youtube: #f00;

// FONTS //

// TRANSITIONS //

// BOX SHADOWS //
