.icon {
  padding: 0.8rem;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-color: transparent;
  transition: all 0.15s;

  & > * {
    font-size: 2.5rem;
  }
}
