.navbar {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  height: 5.6rem;
  padding: 0 1.6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-navbar-bg);

  &__menuIcon {
    padding: 0.8rem;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.15s;

    & > * {
      font-size: 2.5rem;
    }

    &:active {
      background-color: var(--color-sidebar-item-hover);
    }
  }
}
.logo {
  display: flex;
  align-items: center;
  padding: 18px 14px 18px 16px;
  cursor: pointer;
  &__container {
    display: flex;
    align-items: center;
  }
  &__img {
    width: 3rem;
    margin-right: 3px;
  }
  &__text {
    font-size: 1.9rem;
    letter-spacing: -1.8px;
    font-weight: 600;
  }
}
