.app {
  &__container {
    display: flex;
    height: 92vh;
    position: relative;
  }
  &__main {
    margin-top: 2.4rem;
    height: calc(100vh - 5.6rem);
    position: absolute;
    right: 0;
    top: 0;
  }
}
