.app {
  &__container {
    height: calc(100vh - 5.6rem);
    position: relative;
    display: grid;
  }
  &__main {
    // overflow-y: scroll;
    margin-top: 2.4rem;
    // height: 100%;
    position: absolute;
  }
}
